<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Book Titles</h1>
  <p><a href="/searches">Home</a></p>

  <ul>
    <% bookArr.forEach(item=> { %>
    <li><%= item %></li>
    <% }) %>
  </ul>


</body>

</html>