<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <main>
    <h4>Search for books</h4>
    <!-- action visits the route and method is the route method -->
    <form action='/searches' method='post'>
      <input id="input" type="text" name="search" placeholder="Enter a title or author" required>
      <fieldset id="title">
        <label for="title">
          <span class="span">Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>

      <fieldset id="author">
        <label for="author">
          <span class="span">Author</span>
          <input type="radio" name="search" value="author" required>
        </label>
      </fieldset>
      <div>
        <button id="button" type="submit">Search the Google Books API</button>
      </div>
    </form>
  </main>
</body>

</html>